<template>
  <article>
    <h2>{{ title }}</h2>
    <div v-for="(currentChoice, index) in choicesList" :class="{selected: choice === currentChoice }" :key="index" @click="$emit('selectChoice', currentChoice);"> {{ currentChoice }}</div>
  </article>
</template>

<script>
  export default {
    name: 'ListChoices',
    model: {
      prop: 'choice',
      event: 'selectChoice'
    },
    props: {
      choice: {
        required: true
      },
      title: {
        type: String,
        required: true,
      },
      choicesList: {
        type: Array,
        required: true
      }
    }
  }
</script>

<style scoped>
  div {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px #000 solid;
    margin: 20px;
    width: 100px;
    height:100px;
    line-height: 100px;
    vertical-align: middle;
  }

  div:hover, .selected {
    background-color: #0a0c0d;
    color: #fff;
    transition: all ease 0.5s;
  }
</style>
