<template>
  <div>
    <label> {{ title }} </label>
    <select @change="$emit('change', $event.target.value)">
      <option :value="undefined">Select something</option>
      <option v-for="(option, index) in optionList" :value="option" :key="index"> {{ option }}</option>
    </select>
  </div>
</template>

<script>
  export default {
    name: 'SelectBloc',
    model:{
      prop: "model",
      event: "change"
    },
    props: {
      title: {
        type: String,
        required: true
      },
      optionList: {
        type: Array,
        required: true
      },
      model: {
        type: String,
      }
    }
  }
</script>

<style scoped>
  div{
    display: block;
    margin: 10px;
    border: 1px #000 solid;
    padding: 4px 10px;
  }
  label {
    vertical-align: middle;
    text-transform: uppercase;
  }
  select{
    display: inline-block;
    border:none;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 0px;
    font-size: 14px;
    outline: transparent;
  }
</style>
