<template>
  <main class="panel-body col-lg-6">
    <section>
      <h1>Add a new clothe</h1>
      <ListChoices :title="'Up  or Down'" :choices-list="clotheCategoryList" v-model="clotheCategory"></ListChoices>
      <ListChoices :title="'Select a sub category'" :choices-list="clotheSubCategoryList" v-model="clotheSubCategory" v-if="clotheCategorySelected"></ListChoices>
    </section>
    <section v-if="clotheSubCategorySelected">
      <ShirtForm v-model="clothe"></ShirtForm>
    </section>
    <button v-if="formIsReady" @click.prevent="saveNewClothes()">Save Clothes</button>
  </main>
</template>

<script>
  import ShirtForm from "@/components/Forms/ShirtForm"
  import ListChoices from '@/components/UI/form/ListChoices'
  import SelectBloc from '@/components/UI/form/SelectBloc'

  export default {
    name: 'CreateClothe',
    components: {
      ShirtForm,
      ListChoices,
      SelectBloc
    },
    watch: {
      clotheCategory () {
        this.clotheSubCategory = undefined
      }
    },
    data: () => ({
      clothe: {
        buttonColor: undefined
      },
      clotheCategory: undefined,
      clotheSubCategory: undefined,
      clotheCategoryList: ['Up', 'Down'],
      upClothe: ['T-Shirt', 'Chemise', 'Pull', 'Sweat Shirt', 'Polo', 'Veste', 'Blazer'],
      downClothe: ['Jean', 'Joggin', 'Sarouel', 'Short', 'Bermuda', 'Caleçon'],
    }),
    methods: {
      saveNewClothes () {
        console.log(this.clothe)
      },

    },
    computed: {
      clotheCategorySelected () {
        return this.clotheCategory
      },
      clotheSubCategorySelected () {
        return this.clotheCategorySelected && this.clotheSubCategory
      },
      formIsReady () {
        return false;
      },
      clotheSubCategoryList () {
        return this.clotheCategorySelected && this.clotheCategory === 'Up' ? this.upClothe : this.downClothe
      }
    }
  }
</script>

<style scoped>
  section {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
</style>
