<template>
  <article>
    <SelectBloc v-model="clothe.size" :optionList="sizeList" :title="'Size'"></SelectBloc>
    <SelectBloc v-model="clothe.brand" :optionList="brandList" :title="'Brand'"></SelectBloc>
    <SelectBloc v-model="clothe.style" :optionList="styleList" :title="'Style'"></SelectBloc>
    <SelectBloc v-model="clothe.occasion" :optionList="occasionList" :title="'Occasion'"></SelectBloc>
    <SelectBloc v-model="clothe.material" :optionList="materialList" :title="'Material'"></SelectBloc>
  </article>
</template>

<script>
  import SelectBloc from '@/components/UI/form/SelectBloc'

  export default {
    name: 'CommonForm',
    props: {
      clothe: {
        type: Object,
        required: false
      }
    },
    data: () => ({
      sizeList: ['S', 'M', 'L', 'XL'],
      occasionList: ['Sport', 'Dance', 'Home', 'Work'],
      styleList: ['Casual', 'Class', 'Hype', 'Boy'],
      materialList: ['Cotton', 'Nylon'],
      brandList: ['ASOS', 'Zalando', 'Nike', 'Adidas', 'Unknown'],
      clothe: {
        occasion: undefined,
        style: undefined,
        brand: undefined,
        size: undefined,
        material: undefined,
        colors: {
          main: undefined,
          details: undefined
        }
      }
    }),
    components: {
      SelectBloc
    }
  }
</script>

<style scoped>

</style>
