<template>
  <article>
    <SelectBloc v-model="clotheTemplate.col" :optionList="colTypeList" :title="'Col'"></SelectBloc>
    <SelectBloc v-model="clotheTemplate.sizeSleeve" :optionList="sizeSleeveTypeList" :title="'Manche'"></SelectBloc>
    <SelectBloc v-model="clotheTemplate.coupe" :optionList="coupeList" :title="'Coupe'"></SelectBloc>
    <SelectBloc v-model="clotheTemplate.clothSize" :optionList="sizeList" :title="'Longeur'"></SelectBloc>
  </article>
</template>

<script>
  import CommonForm from '@/components/Forms/CommonForm'
  import SelectBloc from "@/components/UI/form/SelectBloc";
  export default {
    name: 'ShirtForm',
    model: {
      prop: "clothe",
      event: "updateValue"
    },
    watch: {
      "clotheTemplate.col"() {
        console.log("hey");
        this.$emit("updateValue", Object.assign(this.clothe,this.clotheTemplate));
      }
    },
    props: {
      clothe: {
        type: Object,
        required: true
      }
    },
    components: {
      SelectBloc,
      CommonForm
    },
    data: () => ({
      clotheTemplate: {
        col: undefined,
        sizeSleeve: undefined,
        coupe: undefined,
        clothSize: undefined
      },
      colTypeList: ["Anglais","Italien","Américain","Mao", "Français"],
      sizeSleeveTypeList: ["Courte","Longue"],
      coupeList: ["Skinny","Slim","Regular", "Ample"],
      sizeList: ["Normal", "Courte"],
      shirtButtonList: ["Normal","cufflink"],
    }),
    methods: {},
  }
</script>

<style scoped>

</style>
