<template>
  <article>
    <CommonForm></CommonForm>
    <SelectBloc v-model="clothe.col" :optionList="colTypeList" :title="'Col'"></SelectBloc>
    <SelectBloc v-model="clothe.sizeSleeve" :optionList="sizeSleeveTypeList" :title="'Manche'"></SelectBloc>
    <SelectBloc v-model="clothe.coupe" :optionList="coupeList" :title="'Coupe'"></SelectBloc>
    <SelectBloc v-model="clothe.clothSize" :optionList="sizeList" :title="'Longeur'"></SelectBloc>
  </article>
</template>

<script>
  import CommonForm from '@/components/Forms/CommonForm'
  import SelectBloc from "@/components/UI/form/SelectBloc";
  export default {
    name: 'TshirtForm',
    props: {
      clothe: {
        type: Object,
        required: true
      }
    },
    components: {
      SelectBloc,
      CommonForm
    },
    data: () => ({
      clothe: {

      },
      colTypeList: ["Anglais","Italien","Américain","Mao", "Français"],
      sizeSleeveTypeList: ["Courte","Longue"],
      coupeList: ["Skinny","Slim","Regular", "Ample"],
      sizeList: ["Normal", "Courte"],
      shirtButtonList: ["Normal","cufflink"],
    }),
    methods: {},
  }
</script>

<style scoped>

</style>
